body,
div,
a {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a {
    text-align: center;
    margin: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#B5EAF2), to(#DFF1F1));
	background: -moz-linear-gradient(top, #B5EAF2, #DFF1F1);
	border-radius: 10px;
}

a:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#B5EAF2), to(#76D0E0));
    background: -moz-linear-gradient(top,  #B5EAF2,  #76D0E0); 
}

#calculator {
	background-color: #669DB2;
	width: 310px;
	height: 630px;
	border: 3px black solid;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px;
}

#header {
    width: 310px;
    height: 55px;
    line-height: 55px;
    font-size: 30px;
    text-align: center;
}

#total {
    height: 70px;
    width: 300px;
    margin: auto;
    background-color: white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 60px;
    padding: 0 5px;
}

#radix {
    width: 310px;
    height: 60px;
}

#radix a {
    display: block;
    width: 60px;
    height: 45px;
    padding-top: 5px;
    float: left;
    font-size: 30px;
}

#numbers,
#operators {
    margin: auto;
}

#numbers {
    width: 240px;
    float: left;
}

#operators a {
    display: block;
    width: 45px;
    height: 50px;
    float: right;
    text-decoration: none;
    text-align: center;
    font-size: 39px;
    padding: 2px;
    margin: 5px 10px;
}

#numbers a {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: 32pt;
    padding: 10px;
}

#rad {
    height: 100px;
    width: 45px;
    background-color: white;
    text-align: left;
    font-size: 20px;
    padding: 0 5px;
    float: left;
    line-height: 25px;
}

#HEX,
#DEC,
#OCT,
#BIN {
    height: 25px;
    width: 245px;
    background-color: white;
    text-align: left;
    font-size: 20px;
    padding: 0 5px;
    float: left;
}

#topbutton {
    height: 120px;
    width: 310px;
    float: left;
    margin-top: 10px;
}

#topbutton a {
    display: block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    padding: 2px;
    margin: 5px 6px;
}

#mod a {
    font-size: 24px;
}
